<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商家管理平台</title>
</head>
<body>
    <div>
        <div>
           欢迎 商家{{user.name}} !
            
        </div>
       
    </div>

    <div>
        <div>
            <a href="../../sale/edit/">编辑信息</a>
            
        </div>
        <div>
            <a href="../../sale/goods/">添加货物</a>
        </div>
       
        <div>
            <a href="../../sale/all/">所有订单</a>
        </div>
        <div>
            <a href="../../index/delete/">退出登陆</a>
        </div>
    </div>
</body>
</html>