<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updata</title>
</head>
<body>
<a href="/sale/goods/">111</a>
    <form action="/sale/updata/{{good.id}}" method="post" >
    
        <p>
            商品名<input type="text" disabled="disabled" value="{{ good.name }}" >
        </p>
        <p>
            分类<input type="text" disabled="disabled" value="{{ good.kinds }}" >
        </p>
        <p>
            定价<input type="text" name="price" value="{{ good.price}}" >
        </p>
        <p>
            描述<input type="text" name="desc" value="{{ good.discribe }}" >
        </p>
        <p>
            <input type="submit" value="更新" >
        </p>
    </form>
    </form>
    
</body>
</html>